# Lecture 1 Exercises



## Short Questions

<font size = "5">

1. What is the difference between a list and an array?
2. Consider the list <br>

```list_colors = ["red","yellow","green"]``` <br>

What is the output of ```list_colors[0]``` and <br>
```list_colors[1]```?

3. How do you concatenate two strings? 
4. What does the error "not defined" mean?
5. What does the error "could not be broadcast" mean?
6. How do you compute the median of an array?

In [9]:
# Write your answers here as comments:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd





#1. The main difference between a list and an array is that a list is a collection of items that can contain elements of multiple 
# data types, while an array contains only elements that belong to the same data type. Another difference is that
# arrays can handle arithmetic operations directly while lists cannot, but lists can be directly dealed with data cleaning commands. 

#2 The output of the first unit of a list in Python has to be obtained from "list[0]"
list_colors = ["red", "yellow", "green"]

print(list_colors[0])
print(list_colors[1])

#3. The easiest way to concatenate two strings is to use "+""Lecture 1 - Exercises.ipynb"

number1 = str(1)

"One" + " " + "is" + " " + number1

#4. "not defined" error can happen when there is an NameError, meaning that variables are not defined
# or not defined correctly. For example, the error appears if defining nominal variables did not include quotation marks. 

#5. "could not be broadcast"error happens when mathematical operations 
# are conducted on strings that do not have the same size.  


#6. use "numPy" library to do mathematical operations 


vec_a  = np.array([1,2,3,4,5])
print(np.median(vec_a))

red
yellow
3.0



## Long Questions

<font size = "5">

(a) Import the pandas and matplotlib packages

In [3]:
# Write your own code

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

<font size = "5">

(b) Open the dataset "worldbank_wdi_2019.csv" <br>
in the "data" folder

<font size = "3">

- Read it as a pandas object called "wdi"
- Note: This is a subset of the World Development Indicators for 2019
- Each observation represents a different country

In [4]:
# Write your own code

wdi = pd.read_csv("data/worldbank_wdi_2019.csv")

<font size = "5">

(c) Browse the dataset and manually create <br>
a list of variable names

In [13]:
# Write your own code

# Create a list, e.g. "variable_names = [ "name1", "name2", "name3" ]"
# Manually type the names of the variables
# If you're viewing the dataset from the VS-Code "Variables" tool, you'll
# see an extra column "index". Do not include this in your list.

wdi

,year,country_name,life_expectancy,gdp_per_capita_usd
0,2019,Afghanistan,63.565,500.522664
1,2019,Albania,79.282,5396.215864
2,2019,Algeria,76.474,4022.150184
3,2019,American Samoa,NaN,13672.576660
4,2019,Andorra,NaN,41327.502030
...,...,...,...,...
266,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN
270,Last Updated: 12/22/2022,NaN,NaN,NaN

In [14]:
Year = []


variables = ["Year", "Country", "Life_Expectancy", "GDP_per_capita"]

<font size = "5">

(d) Compute descriptive statistics for the fourth <br>
variable in the dataset

<font size = "3">

- One way to do this is:

wdi["gdp_per_capita_usd"].describe()

- Do something similar, but with the list you created above.
- Substitute "gdp_per_capita_usd" with a command that <br>
automatically extracts the fourth element in the list

In [15]:
# Write your own code

# Remember that the numbering in Python starts at zero
# For example:
# list_colors = ["red","green","yellow"]
# list_colors[2] will output "yellow"


wdi["gdp_per_capita_usd"].describe()

count       255.000000
mean      17230.949757
std       25792.183785
min         216.972968
25%        2186.046581
50%        6837.717826
75%       19809.323135
max      199377.481800
Name: gdp_per_capita_usd, dtype: float64

<font size = "5">

(e) Show a scatter plot that shows "gdp_per_capita_usd" <br>
in the x-axis and "lifexpectancy" in the y-axis. Label the axes.

In [ ]:
# Write your own code

<font size = "5">

(f) Generate "vec_x" from a chi-square <br>
distribution with (df = 1, size = 1000)

<font size = "3">

- Plot a histogram of each variable, with axis labels, and title
- Create a new variable "vec_y" by the formula <br>
$ y = e^x + 2x + 5$
- Plot "vec_x" against "vec_y" and label the axes

In [ ]:
# Write your own code

<font size = "5">

(g) Research online how to create an array with <br>
```size = 1000``` entries, with all entries equal to one.

<font size = "3">

- Create a new matrix, ```X_mat``` that appends a <br>
vector with only ones and "vec_x" from question (f) to form <br>
a matrix with two columns and 1000 rows
- Compute $(X_{mat}'X_{mat})^{-1}$

In [ ]:
# Write your own code